/* Form stylesheet */
input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date], select {
  margin: 10px auto;
  background-color: #ffffff;
  border: none !important;
  box-shadow: 0 0 1px #555 !important;
}

.wpcf7-form p {
  padding-bottom: 0;
}

/* hide all content form if form send */
.wpcf7-form.has-validation-callback.sent *:not(:last-child) {
  display: none;
}

.wpcf7-response-output {
  padding: 20px !important;
  font-size: 1rem;
  line-height: normal;
}

.wpcf7-mail-sent-ok {
  padding: 25px !important;
  background-color: #dff0d8 !important;
  min-height: 50px;
  vertical-align: middle;
  border: none !important;
  font-size: 1rem;
  text-align: center;
}

/* fix */
.xdsoft_datetimepicker {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
  z-index: 999999;
}

/*  font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit  */
input.wpcf7-form-control.wpcf7-submit {
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1rem !important;
}
.wpcf7-form input {
  margin: 10px auto;
}
select {
  font: normal 300 16px/22px "Open Sans", "Roboto", sans-serif !important;
}
input[type=text], input[type=datetimepicker] {
  padding: 10px;
  width: 100%;
  color: #555;
  background-color: #ffffff;
  border-color: transparent;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  font-family: "Open Sans", "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  box-shadow: 0 0 1px #555;
}
.wpcf7-mail-sent-ok {
  padding: 25px !important;
  background-color: #dff0d8 !important;
  min-height: 50px;
  vertical-align: middle;
  border: none !important;
  font-size: 1rem;
}

/* validate */

div.wpcf7-validation-errors {
  border-color: #f25780 !important;
  background-color: #f25780 !important;
  color: white !important;
  border-radius: 0.2rem;
}
.wpcf7-form .wpcf7-not-valid-tip {
  color: #d93367 !important;
  height: 1rem;
  box-shadow: none !important;
}