/**
 * Front tinyMCE style
 */

$color: #008ee1;

img {
  loading: lazy;
}

.list {
  li{
    list-style: none;
    &:before {
      width: 25px;
      content: "✓";
      display: inline-block;
      font-size: inherit;
      position: initial;
      margin-left: -20px;
      top: 6px;
    }
  }
}
.list-style-star li {
  &:before {
    content: "★";
    color: $color;
  }
}
.list-style-check li{
  &:before {
    content: "✓";
    color: $color;
  }
}

hr {
  height: 2px;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #dbdbdb;
  margin: 30px auto 28px;
  position: relative;
  width: 90%;

  &.short{
    width: 50%;
  }
  &.dashed{
    height: 2px;
    border-color: #dbdbdb;
    margin: 30px auto 28px;

    border-style: dashed;
    border-width: 1px;
    width: 90%;
  }
}

.accordion{
  margin-bottom: 40px;
}